@model FriendlyFood.Models.ViewModels.AddDietTagViewModel

@{
    ViewData["Title"] = "AddDietMeal";
}

<h1>Add Tag</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDietMeal">
            <div class="form-group">
                <input hidden asp-for="MealId" />
                <label asp-for="DietTypeIds" class="control-label"></label>
                <select multiple asp-for="DietTypeIds" class="form-control" asp-items="ViewBag.DietTypeId"></select>
                <span asp-validation-for="DietTypeIds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-danger" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="badge alert-danger">Back to List</a>
</div>