@model FriendlyFood.Models.DietType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DietType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DietName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DietName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="badge alert-danger" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" class="badge alert-danger">Back to List</a>
</div>
