@model FriendlyFood.Models.DietType

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DietType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DietName" class="control-label"></label>
                <input asp-for="DietName" class="form-control" />
                <span asp-validation-for="DietName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Edit" class="badge alert-danger" asp-route-id="@Model.Id">Edit</a>
</div>

