@model IEnumerable<FriendlyFood.Models.DietType>

@{
    ViewData["Title"] = "Index";
}



<div class="create-button-diet">

    <a asp-action="Create" class="btn alert-danger">Create New Diet Tag</a>

</div>

<div class="diet-table">
    <table class="table">
        <thead>
            <tr class="table-success">
                <th scope="row">
                    Diet Tags
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DietName)
                    </td>
                    <td>
                        <a asp-action="Delete" class="badge alert-danger" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>