@{
    ViewData["Title"] = "Home Page";
}
    
    <div class="text-center">
        <div>
            <p><img src="~/Images/FriendlyFoodLogo.png" style="height: 500px; width: 500px" alt="FriendlyFood Logo"></p>
        </div>
       
        